# Ignore PDF files
*.pdf

# Ignore command history files
.Rhistory

# Ignore .tes files
*.tex

# Ignore .log files
*.log

# Ignore .aux files
*.aux

# Ignore .out files
*.html

*.gif

*.png

data/

output/

